@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
    font-family: Helvetica, sans-serif;
}

.navbar {
    background-color: transparent;
    color: white;
    letter-spacing: 20px;
    font-size: 60px;
    padding: 0 20px;
    position: absolute;
    z-index: 1;
  }

.hero-left, .hero-centre, .hero-right {
    height: 100vh;
    width: 100%;
}

.hero-left {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-left.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-centre {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-centre.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-right {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-right.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-left:hover {
    background-image: url("../img/hero-left.jpg");
}

.hero-centre:hover {
    background-image: url("../img/hero-centre.jpg");
}

.hero-right:hover {
    background-image: url("../img/hero-right.jpg");
}

.hero-text {
    color: white;
    padding: 20px;
    border: 5px solid white;
    letter-spacing: 10px;
}

.fab {
    color: white;
    padding: 15px;
    margin: 2px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

@media screen and (min-width:768px)
{
    .hero-left, .hero-centre, .hero-right{
        height: 100vh;
    }
}