html, body {
    height: 100%;
    background-color: #eee;
}

.light a {
    color: #eee !important;
}

.nav-bar {
    padding: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    padding-left: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #a5a5a5;
}

.active {
    text-decoration: none;
    color: #121212 !important;
}

.hero-image {
    background-image: url("../img/splash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.hero-text {
    color: #121212;
    padding-right: 50px !important;
    text-align: end;
}

.me {
    width: 100%;
    border-radius: 8px;
}

.projects {
    text-align: end;
}

.projects img {
    border-radius: 8px;
}

.projects-text a {
    color: #121212;
}

h1 {
    letter-spacing: 1px;
}

.photo {
    height: auto;
    padding: 3px;
}

.photo img {
    width: 100%;
}

.social-links {
    text-align: end;
    vertical-align: bottom;
    padding: 100px 50px 50px 50px;
}

.social-links i {
    padding-left: 30px;
    font-size: 1.5em;
}

.social-links a {
    text-decoration: none;
    color: #121212;
}

.fixed {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title {
    padding-bottom: 30px;
}

@media only screen and (max-width: 576px) {
    
    .logo {
        display: block;
        align-items: center;
        padding: 0;
    }

    .nav-links li {
        display: inline-block;
        padding-left: 0;
    }
}